astropy==6.0.1
astropy-iers-data==0.2026.3.16.0.53.33
ImageIO==2.37.2
lazy-loader==0.5
networkx==3.2.1
numpy==1.26.4
packaging==26.2
Pillow==8.4.0
pyerfa==2.0.1.5
PyWavelets==1.6.0
PyYAML==6.0.3
scikit-image==0.19.3
scipy==1.13.1
tifffile==2024.8.30
